*{
    margin: 0px;
    padding: 0px;
}
.login{
    width: 1250px;
    height: 600px;
    background: rgba(12,12, 12, 0.5);
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    border: solid red;


}
.one{
    background-color: aliceblue;
    background-image: url(img/sta-je-html.jpg);
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 10px;
    width: 210px;
    height: 269px;
    padding:70px;
    margin: 40px;
    margin-right: 75px;
    padding-top: 98px;
    position: relative;
    float: left;
    position: relative;
    border-radius: 10px;
    padding-left: 10px;

}
.two{
    background-color: aliceblue;
    background-image: url(img/creative-css3-tutorials.webp);
    background-size:contain;
    background-repeat: no-repeat;
    font-size: 10px;
    width: 220px;
    height: 270px;
    padding:54px;
    margin:50px;
    margin-right: 100px;
    padding-top: 100px;
    float:left;
    position: relative;
    border-radius: 10px;
    padding-left: 10px;

}
.three{
    background-color: aliceblue;
    background-image: url(img/javao1.jpeg);
    background-size:contain;
    background-repeat: no-repeat;
    width: 270px;
    height: 422px;
    margin: 40px;
    margin-left: 30px;
    margin-top: 45px;
    float:left;
    position: relative;
    border-radius: 10px;
    padding-left: 10px;

}
h2{
font-size: 15px;
padding-top: 80px;
text-align:justify;



}
p{
    font-size: 15px;
    text-align: start;
}
button{
    border-radius: 5px;
    background-color: blue;
    color: aliceblue;
} 
